<launch>
    <arg name="hostname" default="127.0.1.1"/>
    <include file="$(find robotino_node)/launch/robotino_node.launch"
             pass_all_args="true">
    </include>
    <node pkg="roberta_robotino_translator" name="AnalogInTranslator" type="AnalogInTranslator.py"></node>
    <node pkg="roberta_robotino_translator" name="DigitalInTranslator" type="DigitalInTranslator.py"></node>
    <node pkg="roberta_robotino_translator" name="DigitalPortOutTranslator" type="DigitalPortOutTranslator.py"></node>
    <node pkg="roberta_robotino_translator" name="ResetOdometryTranslator" type="ResetOdometryTranslator.py"></node>
    <node pkg="roberta_robotino_translator" name="RobertaMainScript" type="RobertaMainScript.py" required="true"></node>
</launch>

